body{
    width: 960px;
    margin: auto;

}
header {
    background-color: grey;
    position:fixed;
  
}

footer {
    background-color: grey;
    /* width: 960px; */
}

li {
    display: inline;
    padding: 28px;
    text-decoration: none;
}

ul {
    display: inline;
    font-family: "Lora", serif;
    font-size: 24px;
    text-transform: capitalize;
    text-shadow: 0px 0px 2px;
    text-decoration: none;
    color: black;
}

p {
    font-family: "Lora", serif;
    font-size: 19px;
    text-shadow: 0px 0px 2px;
    text-align: justify;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.a {
    margin-top: 8%;
}

.c {
    text-align: center;
    text-transform: capitalize;
    
    text-shadow: 0px 0px 2px;
}

.b {
    /* text-transform: capitalize;
    text-align: right;
    margin-bottom: 40px;
    text-shadow: 0px 0px 2px; */
}

h1 {
    font-family: "Lora", serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-transform: uppercase;
}
blockquote {
    font-size: 18px;
}

.d {
    text-align: right;
    text-shadow: 0px 0px 4px;
    text-transform: capitalize;
    width: 960px;
}

ol li {
    font-size: 24px;
    display: block;
}

.rows{
    /* height: 100px; */
}
h6{
    font-family: "Lora", serif;
    text-shadow: 0px 0px 2px;
}

h2{
    font-family: "Lora", serif;
    text-shadow: 0px 0px 2px;
    text-transform: capitalize; 
}
.extra{
    
    
}
